/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
.header{
    height:		auto;
    position:	relative;
}

/*.logo{
    background:	url(../images/logo.png) no-repeat;
    width: 290px;
    height: 80px;
    display: inline-block;
    border: 1px solid #aaa;
}*/

.brand{
    height:		50px;
    padding:		10px;
    background-color:	#fff;
    border:		3px solid #0C830C;
    color:		#0C830C;
    font-family: 	'GeometrySoft';
    text-align:		center;
    text-decoration:	none;
}

.brand:hover{
    color: #4D4D4D;
    border:		3px solid #4D4D4D;
    text-decoration:	none;
}

/* nav */
.nav{
    float:		right;
    min-width:		470px;				
    min-height:		50px;
    /*border: 1px solid #aaa;*/
}

.nav ul{
    float:		right;
    padding-top:	15px;
    list-style-type:	none;
}

.nav ul li{
    display:		inline-block;
    padding:		1px 10px;
}

.nav ul li a{
    border-style:	none;
    text-decoration:	none;
    color:		#000;
    font-weight: 	bold;
}

.nav ul li a:hover{
    border-style:	none;
    padding: 		03px;
    color: 		 #0C830C;
    font-weight: 	bold;
}

/* footer */
.footer {
    /*border: 1px solid #585858;*/
    margin-top: 30px;
    padding: 03px;
    font-size: 12px;
}

.footer .copyright {
    float: left;
}

/* #Page Styles
================================================== */
.dashboard{
    min-height:		600px;
}
.sidebar{
	font-size: 15px;
	line-height:1.5;
	float: left;
}

.sidebar h3 a {
    color: #444;
}

.sidebar a{
	color: #444;
	text-decoration: none;
	border-bottom: 1px dotted #999;
}

.sidebar ul{
	margin: 10px 0 10px 30px;
    padding: 0;
    color: #000;
}

.profile img{
	margin:	0 0 10px 15px;
	padding:	auto;
	border:	4px solid #4D4D4D;
}

.profile p{
	text-align:	center;
}

.profile a{
	border-style: none;
}

.profile ul.social{
	margin: -10px 10px 0 15px;
} 

.profile ul.social li{
	display: inline-block;
}

ul.social li a img{
	border-style: none;
	text-decoration: none;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
