{% extends "layout.html" %}
{% block title %} About - A Simple SMS Project {% endblock %}
<!-- content -->
{% block content %}
	<div class="four columns sidebar">
		<!--h2>Developer</h2-->
		<div class="profile">
			<img src="{{ url_for('static', filename='images/ppix.jpg') }}" />
			<p><strong style="text-align: center;">Owusu Subramaniam Kwabena</strong><br/>
			Information Technology(BSc)<br/>
			University of Cape Coast.</p>
			<hr/>
			<ul class="social">
				<li><a href="mailto:bigwig4r@gmail.com" target="_blank" class="email"><img src="{{ url_for('static', filename='images/glyphicons_e-mail.png') }}" /></a></li>
				<li><a href="http://gh.linkedin.com/in/kobebigs" target="_blank" class="linkedin"><img src="{{ url_for('static', filename='images/glyphicons_linked_in.png') }}" /></a></li>
				<li><a href="http://gplus.to/kobebigs" target="_blank" class="g+"><img src="{{ url_for('static', filename='images/glyphicons_google_plus.png') }}" /></a></li>
				<li><a href="http://twitter.com/kobebigs" target="_blank" class="twitter"><img src="{{ url_for('static', filename='images/glyphicons_twitter.png') }}" /></a></li>
			</ul>
		</div>
	</div>
	<div class="eleven columns content">
		<section>
			<h2>About</h2>
			<p>Mobile data is the order of the day and GSM modems have been the support in our part of the world. These GSM modems mostly distributed and tied to speciific telcos, only serve as internet source and much is not gained from it.</p>
			<p>This project is carried out to interface Samba 75, a GSM modem, not tied to any specific network, to a PC to enable SMS to be sent and received. And the use of arduino for test case brings much excitement and motivation in carrying out this project.It implements a simple monitoring system with SMS notification/alert capabilities.</p>
			<p>Using all the knowledge and skills gained from Programming and Software Engineering courses, this final year design project is carefully realised under the able supervision of Dr. Farid Farahmand.</p>
			<p>Though this project poised challenges and limitations, it was such fun and learning moment getting it done. I hope to see improvements and advancements in the future.</p>
		</section>
	</div><!-- end of content -->
{% endblock %}
