{% extends "layout.html" %}
{% block title %} Dashboard - A Simple SMS Project {% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
	
	google.load('visualization', '1', {'packages':['corechart']});
	google.setOnLoadCallback(drawChart);

	function drawChart() {

	    // Create data table.
	    var data = new google.visualization.DataTable();

	    data.addColumn('string', 'Date & Time');
	    data.addColumn('number', 'Temperature');
	    /*data.addColumn('number', 'Light Current');*/
	    data.addRows([
			{%- for time, temp in data %}		
				['{{ time }}', {{ temp }}],
			{%- endfor %} 
	    ]);

	    var chart = new google.visualization.LineChart(
                document.getElementById('chart_div'));

	    var options = {
		width: 920,
		height: 460,
		title: 'Temperature in Degree Celsius',
		colors: ['#D1001E', '#07A0AE'],
		legendTextStyle: {color: '#4D4D4D'},
		chartArea: {left:40,top:30, width:"80%",height:"75%"},
		hAxis: {title: 'Date & Time',
		    titleTextStyle: {color: '#4D4D4D'},
		    titlePosition: 'out'}
	    };

	    chart.draw(data, options);

	}
    </script>

{% endblock %}

<!-- content -->
{% block content %}
    <!--h2>My Room Temperature </h2-->
    <div class="sixteen columns dashboard">
	<div class="sixteen columns chartDisplay" id="chart_div"></div>
    </div>
{% endblock %}
