{% extends "layout.html" %}
{% block title %} A Simple SMS Project {% endblock %}
<!-- content -->
{% block content %}
    <div class="nine columns intro_note">
    <h4>Introducing aSimpleSMSApp</h4>
	<p>A simple basic SMS platform that can well serve many purposes using <a href="http://falcom.de/?id=25">Samba 75(GSM Modem)</a>. It is web based, carefully put together using python flask, Google Chart API and other useful python libraries.</p>
	<p>It implements a simple monitoring and SMS notification/alert system.</p>
	<section>
	    <h4>Features</h4>
	    <ul class="disc">
			<li>supports single and bulk SMS</li>
			<li>cost efficient</li>
			<li>simple and easy to use</li>
			<li>clear visualization of data</li>
			<li>easy to modify</li>
			<li>instant notification/alert messaging</li>
	    </ul>
	</section>
    </div>
    <div class="seven columns sendSMS_form">
		<h4>Try the messaging app.</h4>
		<p>Send SMS to contacts via this form. You can send SMS to multiple contacts by separating numbers with comma(,). </p>
		{% if error %}<p style="color: red">Error: {{ error}}</p>{% endif %}
		<form class="six column" action=" " method="post">
			<!--input type="text" class="six columns" name="temperature" value="" placeholder="Temperature Values" required><br><br/-->
			<textarea type="text" class="six columns" name="message" value="" placeholder="Message" required></textarea><br><br/>
			<input type="text" class="six columns" name="recipient" value="" placeholder="Recipient(s) separate with comma(,)" required><br><br>
			<button type="submit" class="btn btn-large btn-success pull-right">Send</button>
		</form>		
    </div>
{% endblock %}
