<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	{% block head %}
	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="Kobe Subramaniam">
	<link rel="author" href="human.txt" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
	{% endblock %}

</head>
<body>

	<div class="container">
		<div class="sixteen columns header" style="margin-top: 20px">
			<div class="remove-bottom six columns" >
				<h2><a href="{{ url_for('home')}}" class="brand">&gt;aSimpleSMSapp&lt;</a></h2>
			</div>
			<div class="nav">
				<ul>
					<li><a href="{{ url_for('home') }}">Home</a></li>		
					<li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>		
					<li><a href="{{ url_for('wiki') }}">Wiki</a></li>		
					<li><a href="{{ url_for('about') }}">About</a></li>		
				</ul>
			</div>
			<hr/>
		</div><!-- end header -->	
		{% block content%}
		{% endblock %}
		<!-- footer -->		
		<div class="sixteen columns footer">
			<hr  class="remove-bottom"/>
			<span class="copyright">
				&copy; aSimpleSMSapp, a Kobe Subramaniam Project 2013.          
			</span>	
		</div>
	</div><!-- container -->


	<!-- JS
	================================================== -->
	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="{{ url_for('static', filename='js/tabs.js') }}"></script>

<!-- End Document
================================================== -->
</body>
</html>
