{% extends "layout.html" %}
{% block title %} Wiki - A Simple SMS Project {% endblock %}
<!-- content -->
{% block content %}
	<div class="five columns sidebar">
		<h4><a href="wiki.html">Table of Content</a></h4>
		<ul>
			<li><a class="reference" href="#">Introduction</a><ul class="square">
			<li><a class="reference" href="#prerequisites">Prerequisites</a></li>
			<li><a class="reference" href="#installation">Installation</a><ul class="square">
			<li><a class="reference" href="#from-the-zipped-release">From the zipped release</a></li>
			<li><a class="reference" href="#installing-the-development-version">Installing the development version</a></li></ul>
			</li>
			<li><a class="reference" href="#basic-usage">Basic Usage</a></li>
			</ul>
			</li>
			<li><a class="reference" href="#devices">Devices</a>
			<ul class="square">
			<li><a class="reference" href="#arduino">Arduino</a></li>
			<li><a class="reference" href="#samba75">Samba75</a></li></li>
		</ul>	
	</div>
	<div class="eleven columns content">
		<section id="introduction">
			<h2>Introduction<a class="headerlink" href="#introduction" title="Permalink to this headline">¶</a></h2>
			<p>This is the documentation for aSimpleSMSApp project. The project is a simple monitoring system that records temperature, analyse recorded data visually(plots on graph), and send notification messages(SMS) via a GSM Modem.</p>
			<p>Feel right at home with it, explore and add useful functionalities.</p>
		</section>
		<section id="prerequisites">
			<h3>Prerequisites<a class="headerlink" href="#prerequisites" title="Permalink to this headline">¶</a></h3>
			<p>This project is fully written in python. <strong>Python 2.6</strong> or above is required to run</p>
		</section>
		<section id="installation">
			<h3>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h3>
			<p>There are multiple ways of installing this application.</p>
			<section id="from-the-zipped-release">
				<h4>From the zipped release<a class="headerlink" href="#from-the-zipped-release" title="Permalink to this headline">¶</a></h4>
				<ol class="arabic">
				<li><a href="https://bitbucket.org/kobebigs/asimplesmsapp/get/69070781fe05.zip">Download</a> the most recent zipped file</li>
				<li>Unpack the file</li>
				<li>run <code>./install.sh</code></li>
				</ol>
				<p>Note that a stable internet is needed. </p>
				<p>Follow the instructions to install all the necessary libraries and packages to enable you run this system.</p>
			</section>
			<section id="installing-the-development-version">
				<h4>Installing the development version<a class="headerlink" href="#installing-the-development-version" title="Permalink to this headline">¶</a></h4>
				<ol class="arabic">
					<li>Install <a href="http://git-scm.org/" target="_blank">git</a></li>
					<li><code>git clone git@bitbucket.org:kobebigs/asimplesmsapp.git</code></li>
					<li><code>cd asimplesmsapp</code></li>
					<li>run <code>./install.sh</code></li>
				</ol>
				<p>If you already have git installed, jump to 2 to continue.</p>
			</section>
		</section>
		<section id="basic-usage">
			<h3>Basic Usage<a class="headerlink" href="#basic-usage" title="Permalink to this headline">¶</a></h3>
			<p>This section provides a brief introduction to the usage of the system.</p>
			<p>Plug in Samba75 modem first to take up /dev/ttyACM0 and arduino UNO board later to take up /dev/ttyACM1. Else, edit <code>getdata.py</code> and <code>sendsms.py</code> to suit devices' ports.</p>
			<p>This program is in two forms. A script that gets data from arduino, analyze and send notification SMS and that which trigers the web interface. Make sure you run that which gets the data first.</p>
			<p>To get and analyze data from arduino, open your terminal and run <pre>$ python getdata.py</pre></p>
			<p>The file <code>getdata.py</code> retrieves data from arduino, writes to a file, analyzes and triggers notification SMS to be sent to names in the <code>contacts.txt</code> file.</p>
			<p>Edit <code>contacts.txt</code> file to add reciepients of SMS.</p>
			<p>To run the web app, open another terminal and run
			<pre>$ python app.py
			<span style="color: #7F7F7F">* Running on http://0.0.0.0:5000/
			* Restarting with reloader</span></pre></p>
			<p>Open http://0.0.0.0:5000 in your browser and there you go.</p>
		</section>
		<section id="devices">
			<h2>Devices<a class="headerlink" href="#devices" title="Permalink to this headline">¶</a></h2>
			<p>The external devices used in this system is <a href="#arduino">Arduino</a> and <a href="#samba75">Samba75 GSM/GPRS/EDGE modem</a></p>
		</section>
		<section id="arduino">
			<h3>Arduino<a class="headerlink" href="#arduino" title="Permalink to this headline">¶</a></h3>
			<p> The arduino UNO board is considered for this project. Visit <a href="http://arduino.cc">arduino.cc</a> for more information.</p>
		</section>
		<section id="samba75">
			<h3>Samba75 <a class="headerlink" href="#samba75" title="Permalink to this headline">¶</a></h3>
			<p>Released on September 19, 2005, [1]Samba75, the world&apos;s first embedded USB wireless modem for GSM/GPRS/EDGE networks is a plug-­and-­play device with built­in antenna that offers Quad band GPRS and EDGE connectivity with a USB port.</p>
			<p>Though production has been discontinued, visit <a href="http://falcom.de/?id=25">falcom.de</a> to read more.</p>
			<blockquote><cite>[1] Falcom News, "SAMBA 75 ­ USB modem connects to EDGE on GSM networks worldwide", Internet: www.falcom.de/falcom/news/news-view/samba-75-usb-modem-connects-to-edge-on-gsm-networks-worldwide/, Sept.19, 2005, [Feb. 13, 2013]</cite></blockquote>
		</section>
	</div>
{% endblock %}
